.pacifico{
    font-family: 'Pacifico', cursive;
}
.indie{
  font-family: 'Roboto Flex', sans-serif;
}
p, h1, dd {
  font-family: 'Roboto Flex', sans-serif;
}

a:hover, a:visited, a:link, a:active {

  text-decoration: none!important;

  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.back-to-up-default-text {
  color: green !important;
}
.back-to-up-default-text{
  display: none;
}


#pot {
   
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 20s;
  }

  @-webkit-keyframes run {
    0% {
      right: 0;
    }
    48% {
      -webkit-transform: rotateY(0deg); 
    }
    50% { 
      right: calc(80%);
      -webkit-transform: rotateY(180deg); 
    }
    98% {
      -webkit-transform: rotateY(180deg); 
    }
    100% {
      right: 0;    
       -webkit-transform: rotateY(0deg);
    }
  }

